# Environments
.env
.env.local
.env.*.local

# Node
node_modules/
dist/
dist-ssr/
*.local

# Go
/backend/finance-manager-backend.exe
/backend/finance-manager-backend

# DB Volumes
/postgres_data/

# OS
.DS_Store
